@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
body {
  line-height: 1;
  font-family: "Cedarville Cursive", cursive !important;
  background-color: #d3d3d3;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.icon {
  width: 50px;
  height: 50px;
  color: white;
}
.board {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
  margin-bottom: 0rem !important;
}
.board-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.individual-board {
  width: 215px;
  height: 200px;
  background-color: rgba(255, 182, 193, 0.5); /* Transparent light pink */
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  color: #172b4d;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 12px;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.individual-board:hover {
  background-color: #dfe1e6;
}

.individual-board:active {
  background-color: #c1c7d0;
}
.board h1 {
  font-size: 2rem !important;
  margin-bottom: 1rem;
}

.board-add-btn,
.back-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #4caf50;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.board-add-btn,
.back-btn:hover {
  background-color: #45a049;
}

.board-add-btn,
.back-btn:active {
  background-color: #3e8e41;
}
.new-board-input {
  padding: 0.8rem;
  margin-right: 1rem;
}
.board a {
  font-size: 20px;
  text-decoration: none;
}
.boardname-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  font-size: 25px;
  background-color: rgba(255, 192, 203, 0.7);
}
.boardname-bar a {
  padding: 0;
}
.back-btn {
  margin-bottom: 0;
}
.eachList {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem auto;
}
.eachCard {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.css-10hburv-MuiTypography-root {
  font-size: 1.2rem !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 800px;
  font-size: 1.4rem;
}
